{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <p class="card-text">{{ movie.synopsis }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ movie.Date | date("m/d/Y") }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
